body {
	font-family: 'Varela Round', sans-serif;
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 50px;
	margin: 0;
	overflow-x: hidden;
}

@keyframes contentTopLineEffect {
	0% { width: 0%; left: 0%; }
	50% { width: 25%; left: 50%; }
	100% { width: 0%; left: 100%; }
}
@-webkit-keyframes contentTopLineEffect {
	0% { width: 0%; left: 0%; }
	50% { width: 25%; left: 50%; }
	100% { width: 0%; left: 100%; }
}

@keyframes contentBottomLineEffect {
	0% { width: 0%; left: 100%;}
	50% { width: 25%; left: 50%;}
	100% { width: 0%; left: 0%;}
}
@-webkit-keyframes contentBottomLineEffect {
	0% { width: 0%; left: 100%;}
	50% { width: 25%; left: 50%;}
	100% { width: 0%; left: 0%;}
}

@keyframes contentLeftLineEffect {
	0% { height: 0%; top: 100%;}
	50% { height: 25%; top: 50%; }
	100% { height: 0%; top: 0%; }
}
@-webkit-keyframes contentLeftLineEffect {
	0% { height: 0%; top: 100%;}
	50% { height: 25%; top: 50%; }
	100% { height: 0%; top: 0%; }
}

@keyframes contentRightLineEffect {
	0% { height: 0%; top: 0%; }
	50% { height: 25%; top: 50%; }
	100% { height: 0%; top: 100%; }
}
@-webkit-keyframes contentRightLineEffect {
	0% { height: 0%; top: 0%; }
	50% { height: 25%; top: 50%; }
	100% { height: 0%; top: 100%; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes colorFade {
	0% { color: rgba(248, 13, 71, 0.3); }
	100% { color: rgba(210, 210, 210, .12); }
}

@keyframes colorFade {
	0% { color: rgba(248, 13, 71, 0.3); }
	100% { color: rgba(210, 210, 210, .12); }
}

.text-detail {
	transition: all 250ms ease;
}

.main-wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	max-width: 720px;
	background: #fff;
	padding: 36px 48px;
	border-radius: 8px;
	border: 1px solid #f5f5f5;
	border-radius: 8px;
	box-sizing: border-box;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 64px;
	color: #f80d47;
}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
	margin-top: 0;
}

p {
	font-size: 16px;
	margin-bottom: 12px;
	line-height: 1.6;
}

h2,
p {
	color: #4D1919;
}

.fade-in {
	position: relative;
	-webkit-animation: fadeIn 750ms ease;
	        animation: fadeIn 750ms ease;
}

.effect-wrapper {
	position: relative;
}

.content-top-effect {
	position: absolute;
	top: -16px;
	height: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentTopLineEffect 500ms linear;
			animation: contentTopLineEffect 500ms linear;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}

.content-bottom-effect {
	position: absolute;
	bottom: -16px;

	height: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentBottomLineEffect 500ms linear;
			animation: contentBottomLineEffect 500ms linear;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}

.content-left-effect {
	position: absolute;
	top: 0;
	left: -16px;
	width: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentLeftLineEffect 500ms linear;
			animation: contentLeftLineEffect 500ms linear;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}

.content-right-effect {
	position: absolute;
	top: 0;
	right: -16px;
	width: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentRightLineEffect 500ms linear;
			animation: contentRightLineEffect 500ms linear;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}

ul {
	padding-left: 0;
	list-style: none;
	margin-top: 24px;
	/*padding-bottom: 64px;*/

}

ul li {
	margin-bottom: 36px;
	position: relative;
	font-size: 16px;
	/*line-height: 2;*/
}

.divider {
	margin: 36px 0;
	border-top: 1px solid #f5f5f5;
}

.link-list {
	margin-top: 0;
}

.link-item-title {
	color: #E30B41;
}

.link-item-title:hover,
.link-item-title:hover .link-item-title-path {
	color: #f80d47;
}

.link-item-title-path {
	font-size: 12px;
	color: #4D1919;
	opacity: 0.2;
	transition: color 250ms ease;
}

.link-item-description {
	font-size: 14px !important;
	margin-left: 30px;
	margin-top: 12px;
}

a {
	color: #484848;
	z-index: 1333;
	box-sizing: border-box;
}

a,
a:hover,
a:active {
	text-decoration: none;
}

a:hover i {
	color: #f80d47;
}

ul .pos-fix .fa {
	visibility: hidden;
}

ul .pos-fix i span {
	font-style: normal;
	position: relative;
	top: -3px;
	left: -2px;
}

i.fa,
li i {
	font-size: 22px;
	position: relative;
	top: 2px;
	margin-right: 8px;
	color: #E30B41;
	transition: color 250ms ease;
}

.text-detail {
	color: #4D1919;;
	background: rgba(248, 13, 71, 0.02);
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 1px solid rgba(248, 13, 71, .35);
}

.text-detail:hover {
	background: rgba(248, 13, 71, 0.1);
	text-decoration: none;
}

.text-subheader {
	font-family: 'Varela Round', sans-serif;
	margin-left: 8px;
	font-size: 16px;
	position: relative;
	top: -2px;
}

.text-list-item {
	display: inline-block;
	margin-left: 0px;
}

.icon-medium-logo {
	position: absolute;
	left: 0px;
}

.icon-medium-logo:before {
	position: relative;
	top: 0px;
	left: -1.5px;
	width: 19px;
}

.preview-content {
	display: block;
	position: fixed;
	top: 0;
	right: 18px;
	width: 200px;
	height: 200px;
	background-color: #fafafa;

	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15);
	border-radius: 4px 0px 0px 4px;

	background-image: none;
	background-size: 100% 100%;
	
	transition: right 500ms ease;
	/*opacity: 0;*/
	display: relative;
	right: -100%;
}

.preview-content p {
	padding: 8px;
}

.preview-content.show {
	transition: right 250ms ease;
	/*opacity: 1;*/
	right: 0;
}

#favs-background-wrapper {
	position: relative;
	margin: 0 auto;
	z-index: -9999;
	/*box-shadow: inset 0px -200px 80px -34px rgba(255,255,255,1);*/
}

#favs-background-shadow {
	height: 10vh;
	min-height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
}

#favs-background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: auto;
	max-height: 40vh;
	background: #fcfcfc;
	overflow: hidden;
}

#favs-background span {
	color: #dadada;
	display: inline-block;
	font-weight: bold;
	line-height: 2.4;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	opacity: 0;
	-webkit-animation: fadeIn 750ms ease;
	        animation: fadeIn 750ms ease;
		 -webkit-animation-fill-mode: forwards;
		         animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-delay: 500ms;
	        animation-delay: 500ms;
}

@media screen and (max-width: 692px){
	
	.main-wrapper {
		padding-right: 24px;
		padding-left: 24px;
		border: none;
		width: 100%;
		box-shadow: 0px -30px 62px -5px rgba(255,255,255,1);
	}

	.preview-content,
	.preview-content.show {
		display: none;
	}
	
	i.fa,
	li i {
		margin-bottom: 4px;
		color: #f80d47;
	}

	ul li {
		margin-bottom: 48px;
	}
	
	.text-list-item {
		display: inline-block;
		margin-left: 28px;
	}

	ul .pos-fix .icon-medium-logo:before {
		top: 2px;
	}
}



